.shipment-hdr{
	text-align: center;
	font-size: 30px;
	color: #000;
}
.innerBody{
	border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding-bottom: 15px;
}
.lastBTN{
	padding:0px 15px;
}
.info{
	background-color: #e6e6e6;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    font-size: 49px;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 113px;
    min-width: 150px;
}
.lineA, .lineB{
	background-color: #e6e6e6;
    border-radius: 4px;
    font-size: 14px;
    padding: 3px 8px;
}
.lineB{
	width: 50%;
}
.searchBox{
	padding:0rem 1.25rem;
	position: relative;
}
.searchBox input{
	border: 1px solid #ccc;
    height: 41px;
    width: 100%;
    border-radius: 4px;
    padding: 5px 15px;
}
.searchBox button{
	position: absolute;
    right: 20px;
    height: 41px;
    border-radius: 0px 4px 4px 0px;
    padding: 0px 25px;
}
.lastBTN .btn{
	font-size: 14px;
	padding: 4px 10px;
}
.w-70{
	width: 70%;
}
.w-60{
	width: 60%;
}
.w-50{
	width: 50%;
}
.outerPNL{
	border: 1px solid rgba(0, 0, 0, 0.125);
	width: 100%;
	border-radius: 4px;
	margin-bottom: 20px;
}
.outerPNL legend{
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	margin: 5px 0px 15px 0px;
    padding: 0px 10px;
}
.cardUL{
	margin-bottom: 10px;
	padding-left: 15px;
}
.cardUL li{
	padding-right: 10px;
	list-style: none;
    color: #555;
}
.cardUL li span{
	color: #000000;
	font-weight: 500;
	margin-left: 5px;
}
@media (max-width: 480px){
.navbar-brand span{
	display: none;
}
}